{% extends 'app/base.html' %}

{% block title %}About - Plantto{% endblock %}

{% block content %}
<div class="container about-container shadow-none text-justify " style=" max-width: 900px;">

    <div class=" text-center">
        <img src="../../../media/icons/logo.png" alt="Planntto" class="about-img"  style="width: auto; max-height: 100px;">
    </div>

    <p>Welcome to Planntto, your trusted source for plant-based products that promote a healthy and sustainable lifestyle. Founded by Amit Maurya, Planntto is driven by a vision to create a positive impact on personal well-being and the environment.</p>

    <p>Amit Maurya, the Founder and CEO of Planntto, is passionate about harnessing the power of nature to provide you with high-quality, eco-friendly alternatives for your daily needs. His commitment to sustainability and innovation has shaped Planntto into a brand that stands for quality, purity, and environmental responsibility.</p>

    <p >Initiatives led by Amit Maurya have focused on promoting sustainable practices, supporting local communities, and reducing our ecological footprint. Through partnerships with eco-friendly suppliers and continuous efforts to minimize packaging waste, Planntto strives to make conscious choices that contribute to a greener and healthier world.</p>

    <p>At Planntto, we believe in transparency and integrity. Our products are carefully crafted using plant-based ingredients, free from harmful chemicals and cruelty-free. We are dedicated to providing you with a range of products that align with your values and contribute to your well-being.</p>

    <p>Join us in embracing nature's goodness and making sustainable choices for a better future. Thank you for choosing Planntto. Together, let's grow towards a healthier and more sustainable tomorrow.</p>
  </div>

{% endblock %}