<!-- your_app/templates/your_app/cart.html -->
{% extends 'app/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container contact-container shadow-none" style="max-width: 600px;">
    <h2 class="text-center mb-4">Contact Us</h2>
    <form>
      <div class="form-group">
        <label for="name">Your Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" rows="4" placeholder="Enter your message"></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn w-100" style="background-color: #71b44d; color: white;">Submit</button>
      </div>
    </form>
</div>
{% endblock %}