<footer class="text-center text-lg-start" style="background-color: #71b44d;">
    <!-- Section: Social media -->

    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container  shadow-none text-center  mt-5" style="background-color: #71b44d; color: white;">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
            <div class="text-center">
              <img class="mx-auto d-block" src="../../../media/icons/logo.png" alt="logo" style="width: auto; max-height: 100px; ">
            
            </div>
            <p>
              Discover a healthier and sustainable lifestyle with Planntto, your one-stop destination for plant-based products. From protein supplements to nourishing face creams, our curated collection promotes well-being for you and the planet. Embrace nature's goodness with Planntto.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">FaceWash</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Protein</a>
            </p>
            <p>
              <a href="#!" class="text-reset">FaceCream</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Soaps</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="{% url 'home' %}" class="text-reset">Home</a>
            </p>
            <p>
              <a href="{% url 'product_list' %}" class="text-reset">Products</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Noida, Sector 62, U.P</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@plantto.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 91 9990510309</p>
            <p><i class="fas fa-print me-3"></i> + 91 8384088898</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="">Plantto</a>
    </div>
    <!-- Copyright -->
  </footer>