<footer class="bg-dark text-light">
    <div class="container py-5">
        <div class="row">

            <!-- Contact Information -->
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: info@plantto.com</p>
                <p>Phone: +1 (123) 456-7890</p>
                <p>Address: 123 Nature Street, Green City</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" target="_blank">Facebook</a></li>
                    <li><a href="#" target="_blank">Twitter</a></li>
                    <li><a href="#" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright Notice -->
    <div class="bg-dark text-light text-center py-3">
        <p>&copy; 2024 Plantto. All rights reserved.</p>
    </div>
</footer>