{% extends 'app/base.html' %}

{% block title %}Product Catalog{% endblock %}

{% block content %}

<div class="container-fluid shadow-none products-container">
  <div class="row  mx-2 px-2 mb-2">
    <div class="col-sm-4 filter-area">
      <div class="col">
        <div class="categories">
          <h3>Categories</h3>
          <ul>
            {% for category in categories %}
              <li><a href="{% url 'category_products' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="col">
        <div class="row">
          {% for product in products %}
            <div class="col-md-4">
              <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">

                  <h6 class="card-title " style="text-align: center;"><a class="product-name" href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h6>
                  {% comment %} <p class="card-text">{{ product.description }}</p>{% endcomment %} 
                  <p class="card-text product-price">Rs. {{ product.price }}</p>
                  <a href="#" class="btn btn-primary" id="Add-to-cart-button">Add to Cart</a>

                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
