.products-container{
    background-color:white;
}

.product-card{
    /* background-color: #def7d2; */
    padding: 5px;
    border-radius: 5px;
}

.product-name{
    text-align: center;
    text-decoration: none;
    color:#012b00
}

.product-img{
    border-radius: 5px;
}

.product-price{
 
    text-align: center;
    color: #71b44d;
}

#Add-to-cart-button{
    text-align: center;
    color: white;
    background-color: #71b44d;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
#Add-to-cart-button-2{
    text-align: center;
    color: white;
    background-color: #71b44d;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

#Add-to-cart-button:hover{
    text-align: center;
    color: white;
    background-color: #012b00;
    padding: 5px;
    border-radius: 5px;
}
#Add-to-cart-button:active{
    text-align: center;
    background-color: white;
    color: #012b00;
    padding: 5px;
    border-radius: 5px;
}

.filter-area{
    background-color: #71b44d;
    border-radius: 10px;
}